.main-menu {
  list-style: none;
  margin: 1rem auto 0 auto;
  padding: 1rem 2rem;
  border: 1px solid grey;
  border-left: none;
  border-right: none;
}

.main-menu li {
  display: inline-block;
  margin: 0 1rem;
  padding: 0;
}

.main-menu li a {
  display: inline-block;
  padding: 0.25rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}


a {
  color: #242424;
  text-decoration: none;
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-list li {
  display: block;
  margin: 0.125rem 0;
  padding: 0;
  position: relative;
  color: saddlebrown;
  font-weight: bold;
}

h1,
h2 {
  margin-bottom: 2rem;
}

.mojemalickost {
  font-size: 12px;
  color: #747474;   
}

.form-control {
  margin-bottom: 10px !important;
}

.card-title{
  font-size: 2.5rem
}

.cena-osoba {
  font-size: 1.5rem;
}

.cenik-pokoju {
  margin-bottom: .5rem;
}

.foto  { 
    width: 100%;
    height: auto;
    border-radius: 1%;
}

.karu {
    width: 100%;
    height: auto;
}

.paticka {
 
}






